# indent
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: false

# align
AlignAfterOpenBracket: Align
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
PointerAlignment: Left

ColumnLimit: 0
# brace
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterEnum: true
    AfterFunction: true
    AfterControlStatement: false
    AfterNamespace: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: false

SortIncludes: false